body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 250px;
}

.error-container {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

.error-container p {
  font-size: 16px;
  color: #666666;
}
