<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #asd
               fixedInViewport
               [attr.role]="(hiddenMenu | async) ? 'dialog' : 'navigation'"
               [mode]="(hiddenMenu | async) ? 'over' : 'side'"
               [opened]="(hiddenMenu | async) === false"

  >
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/osszes">Összes látnivaló</a>
      <a mat-list-item routerLink="/zamardi">Zamárdi</a>
      <a mat-list-item routerLink="/balatonfured">Balatonfüred</a>
      <a  mat-list-item routerLink="/create-post">Véleményezés</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="asd.toggle()"
        *ngIf="hiddenMenu | async">

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>BalatonApp</span>

      <span class="spacer"></span>



      <div *ngIf="!currentUser">
        <button mat-button routerLink="/bejelentkezes">Bejelentkezés</button>
      </div>
      <div *ngIf="currentUser">
        <button mat-button routerLink="/profil">Profil</button>
      </div>
      <div *ngIf="currentUser">
        <button (click)="logout()" mat-button >Kilépés</button>
      </div>
      <div *ngIf="!currentUser">
        <button mat-button routerLink="/regisztracio">Regisztráció</button>
      </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
