.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0 16px;
  padding-top: 150px;
}

.comment-card {
  max-width: 500px;
  width: 100%;
}

.input-field {
  width: 100%;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0;
  }
}
